.homeButton{
display:inline-block;
border-style: none;
border: 2px solid rgb(92, 255, 144);
  background-color: rgba(19, 19, 19);
color:rgb(92, 255, 144);
font-family: Arial, Helvetica, sans-serif;
font-weight: 100px;
font-size: 20px;
height:28px;
width: 120px;
border-radius: 10px;

 /* box-shadow: 0px 0px 15px 1px rgb(92, 255, 144); */
}
.statsCard{
  color:white;
  display:inline-flex;
  justify-content:space-between;
  flex-direction: column;
  align-items: center;
}

.statsRowPlayed{

align-items: center;
justify-content: center;
border-style: none;
/* align-self: flex-end; */
border: 2px solid rgb(181, 178, 178);
  background-color: rgba(19, 19, 19);
  border-top: 0px;
  border-bottom:0px;

color:rgb(181, 178, 178);
font-family: Arial, Helvetica, sans-serif;
display:inline;
padding:5px;

width: 25%;
}
.statsRowWin{

align-items: center;
justify-content: center;
border-style: none;
/* align-self: flex-end; */
background-color: rgba(19, 19, 19);
border: none;
color:rgb(181, 178, 178);
font-family: Arial, Helvetica, sans-serif;
display:inline;
padding:5px;

width: 25%;
}

.statsRowStreak{

align-items: center;
justify-content: center;
border-style: none;
/* align-self: flex-end; */
border: 2px solid rgb(181, 178, 178);
  background-color: rgba(19, 19, 19);
  border-top: 0px;
  border-bottom:0px;
color:rgb(181, 178, 178);
font-family: Arial, Helvetica, sans-serif;
display:inline;
padding:5px;

width: 25%;
}
.statsRowBest {

  align-items: center;
  justify-content: center;
  border-style: none;
  border: 2px solid rgb(181, 178, 178);
  background-color: rgba(19, 19, 19);
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  color: rgb(181, 178, 178);
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  padding: 5px;

  width: 25%;
}
.statsContainer{
  margin:15px;
}
.statChartContainer{
  height:250px;
  width:200px;
  align-self: center;
}
.homeContainer{
 display: inline-flex;
  justify-content:center;
flex-direction:  column;
  align-items: center;   


 

}
